src/CWS.Java.SOAP.CXF/WS/CWSDataServicesBilling2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsdl:types>
		<xsd:schema targetNamespace="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/Imports">
      <xsd:import schemaLocation="schemas.microsoft.com_2003_10_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="schemas.microsoft.com_2003_10_Serialization_Arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xsd:import schemaLocation="schemas.ipcommerce.com_CWS_v2.0_DataServices.xsd" namespace="http://schemas.ipcommerce.com/CWS/v2.0/DataServices"/>
      <xsd:import schemaLocation="schemas.ipcommerce.com_Ipc.General.WCF.Contracts.Common.xsd" namespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common"/>
      <xsd:import schemaLocation="schemas.ipcommerce.com_Ipc.General.WCF.Contracts.Common_External.xsd" namespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/External"/>
      <xsd:import schemaLocation="schemas.ipcommerce.com_Identity_1.0.xsd" namespace="http://schemas.ipcommerce.com/Identity/1.0/"/>
      <xsd:import schemaLocation="schemas.ipcommerce.com_CWS_v2.0_DataServices_Billing.xsd" namespace="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing"/>
		</xsd:schema>
	</wsdl:types>
  <wsdl:message name="IDataServicesBilling_Ping_InputMessage">
    <wsdl:part name="parameters" element="q1:Ping" xmlns:q1="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common"/>
  </wsdl:message>
  <wsdl:message name="IDataServicesBilling_Ping_OutputMessage">
    <wsdl:part name="parameters" element="q2:PingResponse" xmlns:q2="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common"/>
  </wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventSummary_InputMessage">
		<wsdl:part name="parameters" element="tns:QueryBillingEventSummary"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventSummary_OutputMessage">
		<wsdl:part name="parameters" element="tns:QueryBillingEventSummaryResponse"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventSummary_DataServicesUnavailableFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q1:DataServicesUnavailableFault" xmlns:q1="http://schemas.ipcommerce.com/CWS/v2.0/DataServices"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventSummary_BillingTransactionFailedFaultFault_FaultMessage">
		<wsdl:part name="detail" element="tns:BillingTransactionFailedFault"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventSummary_ExpiredTokenFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q2:ExpiredTokenFault" xmlns:q2="http://schemas.ipcommerce.com/Identity/1.0/"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventSummary_InvalidTokenFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q3:InvalidTokenFault" xmlns:q3="http://schemas.ipcommerce.com/Identity/1.0/"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventSummary_AuthenticationFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q4:AuthenticationFault" xmlns:q4="http://schemas.ipcommerce.com/Identity/1.0/"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventDetail_InputMessage">
		<wsdl:part name="parameters" element="tns:QueryBillingEventDetail"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventDetail_OutputMessage">
		<wsdl:part name="parameters" element="tns:QueryBillingEventDetailResponse"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventDetail_InvalidTokenFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q5:InvalidTokenFault" xmlns:q5="http://schemas.ipcommerce.com/Identity/1.0/"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventDetail_BillingTransactionFailedFaultFault_FaultMessage">
		<wsdl:part name="detail" element="tns:BillingTransactionFailedFault"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventDetail_ExpiredTokenFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q6:ExpiredTokenFault" xmlns:q6="http://schemas.ipcommerce.com/Identity/1.0/"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventDetail_DataServicesUnavailableFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q7:DataServicesUnavailableFault" xmlns:q7="http://schemas.ipcommerce.com/CWS/v2.0/DataServices"/>
	</wsdl:message>
	<wsdl:message name="IDataServicesBilling_QueryBillingEventDetail_AuthenticationFaultFault_FaultMessage">
		<wsdl:part name="detail" element="q8:AuthenticationFault" xmlns:q8="http://schemas.ipcommerce.com/Identity/1.0/"/>
	</wsdl:message>
	<wsdl:portType name="IDataServicesBilling">
		<wsdl:documentation>&lt;summary&gt;&#xD;
            Operations for querying billing event data&#xD;
            &lt;/summary&gt;</wsdl:documentation>
		<wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IExternallyFacingStandardOperations/Ping" message="tns:IDataServicesBilling_Ping_InputMessage"/>
      <wsdl:output wsaw:Action="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/IExternallyFacingStandardOperations/PingResponse" message="tns:IDataServicesBilling_Ping_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="QueryBillingEventSummary">
			<wsdl:documentation>&lt;summary&gt;&#xD;
            Queries for summary billing event data.&#xD;
            &lt;/summary&gt;&#xD;
            &lt;param name="sessionToken"&gt;The short-lived token used to authenticate to the Billing Web Service.&lt;/param&gt;&#xD;
            &lt;param name="queryBillingEventParameters"&gt;Query parameters for querying billing event data.&lt;/param&gt;&#xD;
            &lt;param name="pagingParameters"&gt;Defines the parameters for the service to use for paging large datasets.&lt;/param&gt;&#xD;
            &lt;returns&gt;A list of all defined billing event summary data.&lt;/returns&gt;</wsdl:documentation>
			<wsdl:input wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventSummary" message="tns:IDataServicesBilling_QueryBillingEventSummary_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventSummaryResponse" message="tns:IDataServicesBilling_QueryBillingEventSummary_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventSummaryDataServicesUnavailableFaultFault" name="DataServicesUnavailableFaultFault" message="tns:IDataServicesBilling_QueryBillingEventSummary_DataServicesUnavailableFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventSummaryBillingTransactionFailedFaultFault" name="BillingTransactionFailedFaultFault" message="tns:IDataServicesBilling_QueryBillingEventSummary_BillingTransactionFailedFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventSummaryExpiredTokenFaultFault" name="ExpiredTokenFaultFault" message="tns:IDataServicesBilling_QueryBillingEventSummary_ExpiredTokenFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventSummaryInvalidTokenFaultFault" name="InvalidTokenFaultFault" message="tns:IDataServicesBilling_QueryBillingEventSummary_InvalidTokenFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventSummaryAuthenticationFaultFault" name="AuthenticationFaultFault" message="tns:IDataServicesBilling_QueryBillingEventSummary_AuthenticationFaultFault_FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="QueryBillingEventDetail">
			<wsdl:documentation>&lt;summary&gt;&#xD;
            Queries for detailed billing event data.&#xD;
            &lt;/summary&gt;&#xD;
            &lt;param name="sessionToken"&gt;The short-lived token used to authenticate to the Billing Web Service.&lt;/param&gt;&#xD;
            &lt;param name="queryBillingEventParameters"&gt;Query parameters for querying billing event data.&lt;/param&gt;&#xD;
            &lt;param name="pagingParameters"&gt;Defines the parameters for the service to use for paging large datasets.&lt;/param&gt;&#xD;
            &lt;returns&gt;A list of all defined billing event detail data.&lt;/returns&gt;</wsdl:documentation>
			<wsdl:input wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventDetail" message="tns:IDataServicesBilling_QueryBillingEventDetail_InputMessage"/>
			<wsdl:output wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventDetailResponse" message="tns:IDataServicesBilling_QueryBillingEventDetail_OutputMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventDetailInvalidTokenFaultFault" name="InvalidTokenFaultFault" message="tns:IDataServicesBilling_QueryBillingEventDetail_InvalidTokenFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventDetailBillingTransactionFailedFaultFault" name="BillingTransactionFailedFaultFault" message="tns:IDataServicesBilling_QueryBillingEventDetail_BillingTransactionFailedFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventDetailExpiredTokenFaultFault" name="ExpiredTokenFaultFault" message="tns:IDataServicesBilling_QueryBillingEventDetail_ExpiredTokenFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventDetailDataServicesUnavailableFaultFault" name="DataServicesUnavailableFaultFault" message="tns:IDataServicesBilling_QueryBillingEventDetail_DataServicesUnavailableFaultFault_FaultMessage"/>
			<wsdl:fault wsaw:Action="http://schemas.ipcommerce.com/CWS/v2.0/DataServices/Billing/IDataServicesBilling/QueryBillingEventDetailAuthenticationFaultFault" name="AuthenticationFaultFault" message="tns:IDataServicesBilling_QueryBillingEventDetail_AuthenticationFaultFault_FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
