src/CWS.Java.SOAP.CXF/WS/schemas.ipcommerce.com_Ipc.General.WCF.Contracts.Common_External.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/External" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.ipcommerce.com/Ipc.General.WCF.Contracts.Common/External"><xs:complexType name="PingResponse"><xs:sequence><xs:element minOccurs="0" name="IsSuccess" type="xs:boolean"/><xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="PingResponse" nillable="true" type="tns:PingResponse"/></xs:schema>