src/CWS.Java.SOAP.CXF/WS/schemas.ipcommerce.com_CWS_v2.0_Transactions_ElectronicChecking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.ipcommerce.com/CWS/v2.0/Transactions/ElectronicChecking" xmlns:q1="http://schemas.ipcommerce.com/CWS/v2.0/Transactions" xmlns:q2="http://schemas.ipcommerce.com/CWS/v2.0/Transactions" xmlns:q3="http://schemas.ipcommerce.com/CWS/v2.0/Transactions" xmlns:q4="http://schemas.ipcommerce.com/CWS/v2.0/Transactions" xmlns:q5="http://schemas.ipcommerce.com/CWS/v2.0/Transactions" xmlns:q6="http://schemas.ipcommerce.com/CWS/v2.0/Transactions" targetNamespace="http://schemas.ipcommerce.com/CWS/v2.0/Transactions/ElectronicChecking" elementFormDefault="qualified">
  <xs:import namespace="http://schemas.ipcommerce.com/CWS/v2.0/Transactions" schemaLocation="schemas.ipcommerce.com_CWS_v2.0_Transactions.xsd"/>
  <xs:complexType name="ElectronicCheckingTenderData" mixed="false">
    <xs:complexContent mixed="false">
      <xs:extension base="q1:TransactionTenderData">
        <xs:sequence>
          <xs:element name="CheckData" type="tns:CheckData" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Basic information about the check being processed. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectronicCheckingTenderData" type="tns:ElectronicCheckingTenderData" nillable="true"/>
  <xs:complexType name="CheckData">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Basic information about the check being processed. Required.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccountNumber" type="xs:string" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            Account number on the check. Required
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckCountryCode" type="tns:CheckCountryCode" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            Bank account country of origin for receiver deposit. Required.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckNumber" type="xs:string" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            The check number as printed on the check. Optional.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerType" type="tns:OwnerType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            Indicates the type of entity which owns the account. Required.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoutingNumber" type="xs:string" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            9-digit bank routing number of the receiver deposit account. Required.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UseType" type="tns:UseType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            Indicates the type of account. Required.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckData" type="tns:CheckData" nillable="true"/>
  <xs:simpleType name="CheckCountryCode">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Bank account country of origin for receiver deposit.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Value has not been explicitly set.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="US">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            United States.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MX">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Mexico.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CA">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Canada.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CheckCountryCode" type="tns:CheckCountryCode" nillable="true"/>
  <xs:simpleType name="OwnerType">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Indicates the type of entity which owns the account.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Value has not been explicitly set.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Personal">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Personal.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Business">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Business.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Unknown.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OwnerType" type="tns:OwnerType" nillable="true"/>
  <xs:simpleType name="UseType">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Indicates the type of account.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Value has not been explicitly set.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Savings">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Savings.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Checking">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Checking.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Travelers">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Travelers.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Payroll">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Payroll.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cash">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Cash.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TwoParty">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Two Party.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Government">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Government.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UseType" type="tns:UseType" nillable="true"/>
  <xs:complexType name="ElectronicCheckingCaptureResponse" mixed="false">
    <xs:complexContent mixed="false">
      <xs:extension base="q2:Response">
        <xs:sequence>
          <xs:element name="SummaryData" type="q2:SummaryData" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Summary information (item count and total amount) for the captured transactions. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectronicCheckingCaptureResponse" type="tns:ElectronicCheckingCaptureResponse" nillable="true"/>
  <xs:complexType name="ElectronicCheckingTransactionResponse" mixed="false">
    <xs:complexContent mixed="false">
      <xs:extension base="q3:Response">
        <xs:sequence>
          <xs:element name="ACHCapable" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Indicates if the customer's account will accept ACH transactions. Returned only on QueryAccount transactions. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount" type="xs:decimal" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Indicates the amount of the transaction. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApprovalCode" type="xs:string" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            A code provided when a transaction is approved. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ModifiedAccountNumber" type="xs:string" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Indicates the corrected account number that should be used for electronic check processing. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ModifiedRoutingNumber" type="xs:string" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Indicates the corrected 9-digit Bank Routing number that should be used for electronic check processing. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentAccountDataToken" type="xs:string" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Token specified by a tokenization (offsite payment account data storage) Service Provider, used to retrieve securely stored payment account data. Conditional, required if any one of the following must be provided: CardDataToken, SecureCardData, or tender-specific payment account data.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReturnInformation" type="tns:ReturnInformation" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Contains information indicating why the transaction was returned. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubmitDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            The date the transaction was submitted to the bank. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectronicCheckingTransactionResponse" type="tns:ElectronicCheckingTransactionResponse" nillable="true"/>
  <xs:complexType name="ReturnInformation">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Contains information about the reason the bank rejected the transaction. Optional.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReturnCode" type="xs:string" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            Code that indicates why the transaction was returned. Optional.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReturnDate" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            The date the transaction was returned by the bank. Optional.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReturnReason" type="xs:string" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:appinfo/>
          <xs:documentation>&lt;summary&gt;
            Reason that indicates why the transaction was returned. Optional.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnInformation" type="tns:ReturnInformation" nillable="true"/>
  <xs:complexType name="ElectronicCheckingTransactionData" mixed="false">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Contains information about the Electronic Checking transaction data. Required.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="q4:TransactionData">
        <xs:sequence>
          <xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Specifies the effective date of the transaction. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsRecurring" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Indicates whether the transaction is recurring. Conditional, required if SECCode = 'WEB'.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SECCode" type="tns:SECCode" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            The three letter code that indicates what NACHA regulations the transaction must adhere to. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceType" type="tns:ServiceType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Indicates the Electronic Checking service type: ACH, RDC or ECK. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionType" type="tns:TransactionType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Indicates the transaction type. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectronicCheckingTransactionData" type="tns:ElectronicCheckingTransactionData" nillable="true"/>
  <xs:complexType name="ElectronicCheckingCustomerData" mixed="false">
    <xs:complexContent mixed="false">
      <xs:extension base="q5:TransactionCustomerData">
        <xs:sequence>
          <xs:element name="AdditionalBillingData" type="q5:PersonalInfo" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Additional billing information which may be required by the Service Provider to process the Electronic Checking transaction. Optional.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectronicCheckingCustomerData" type="tns:ElectronicCheckingCustomerData" nillable="true"/>
  <xs:complexType name="ElectronicCheckingTransaction" mixed="false">
    <xs:complexContent mixed="false">
      <xs:extension base="q6:Transaction">
        <xs:sequence>
          <xs:element name="TenderData" type="tns:ElectronicCheckingTenderData" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Details about the tender. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionData" type="tns:ElectronicCheckingTransactionData" nillable="true" minOccurs="0">
            <xs:annotation>
              <xs:appinfo/>
              <xs:documentation>&lt;summary&gt;
            Details about the transaction data. Required.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElectronicCheckingTransaction" type="tns:ElectronicCheckingTransaction" nillable="true"/>
  <xs:simpleType name="SECCode">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            The three letter code that indicates what NACHA regulations the transaction must adhere to.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Value has not been explicitly set.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BOC">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Back Office Conversion.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CCD">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Corporate Cash Disbursement.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PPD">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Prearranged Payment and Deposits.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TEL">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Telephone-initiated Entry.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WEB">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Web-initiated Entry.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SECCode" type="tns:SECCode" nillable="true"/>
  <xs:simpleType name="ServiceType">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Indicates the Electronic Checking service type: ACH, RDC or ECK.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Value has not been explicitly set.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACH">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Automated Clearing House.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ECK">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Electronic Checking.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RDC">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Remote Deposit.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceType" type="tns:ServiceType" nillable="true"/>
  <xs:simpleType name="TransactionType">
    <xs:annotation>
      <xs:appinfo/>
      <xs:documentation>&lt;summary&gt;
            Indicates the transaction type.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Credit">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Credit.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Debit">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            PIN Debit.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionType" type="tns:TransactionType" nillable="true"/>
</xs:schema>
